/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
  --bg-gradiant:#3B2A9F;
  --secondary:#FA8305;
  --primary: #3B2A9F;
  --primary-100: #5141AA;
  --brown:#1C140F;
  --black: #070707;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}

/* good luck */
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-thin;
  src: url(../assets/fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

body{
  background: var(--bg-gradiant);
  overflow: hidden;
}

/*header*/
#header{
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  color: #fff;
}
#header > .menu{
  font-family: poppins;
  display: flex;
  height: 33%;
  width: 50%;
  margin-right: 40px;
}

#header > .menu > div{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#header > .menu > div:last-child{
  background: var(--secondary);
  border-radius: 5px;
}
#header > .menu > .selected{
  border-bottom: 0.5px solid var(--secondary);
}

#header > img{
  position: absolute;
  left: 80px;
  font-family: poppins-bold;
}

/* content*/
#content > .holder{

  margin: 0 auto;
  width: 1170px;
  height: 3000px;
  position: relative;
}

#content > .holder > .head{
  position: absolute;
  color: #fff;
  width: 410px;
  height: 397px;
  top: 80px;
}

#content > .holder > .head > p:first-child {
  font-family: poppins-bold;
  color: var(--secondary);
}

#content > .holder > .head > h1 {
  font-family: poppins-bold;
  width: 70%;
  margin: 20px 0;
  font-size: 35px;
}

#content > .holder > .head > .p2 {
  font-family: poppins;
  font-size: 13px;
  margin-bottom: 20px;
}

#content > .holder > .head > a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 15px;
  margin-top: 20px;
  font-family: poppins;
  background-color: var(--secondary);
  border-radius: 40px;
  line-height: 50px;
}


#content > .holder > .joystick{
  display: inline-block;
  width: 540px;
  height: 510px;
  position: relative;
  left: 772px;
}
